<template name="content">
	<!-- Main content -->
	<section class="content">
{{#if isReady }}
	{{#if showDashboard }}
		{{> dashboard }}
	{{else}}
		{{#if showSession }}
			{{> sessionVariables }}
		{{else}}
			{{#if showMeteorSettings }}
				{{> meteorSettings }}
			{{else}}
				{{#if showMeteorEnvironment }}
					{{> meteorEnvironment }}
				{{else}}
					{{#if showPackages }}
						{{> packagesList }}
					{{else}}
						{{#if showDebugger }}
							{{> meteorDebugger }}
						{{else}}
							<!-- In all other cases, go to inspected app -->
							<!-- iframe containing the real Meteor page from the app -->
							{{> meteorDevTools }}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
{{else}}
	{{> loading }}
{{/if}}
	</section>
</template>
