<template name="dashboard">
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3>{{ sessionVariablesCount }}<!-- sup style="font-size: 20px">%</sup --></h3>
					<p>Session Variables</p>
				</div>
				<div class="icon">
					<i class="ion ion-gear-b"></i>
				</div>
				<a href="#" data-view="session" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3>{{ collectionsCount }}</h3>
					<p>Collections</p>
				</div>
				<div class="icon">
					<i class="ion ion-ios-albums"></i>
				</div>
				<a href="#" data-view="collections" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-blue">
				<div class="inner">
					<h3>{{ usersCount }}</h3>
					<p>Users</p>
				</div>
				<div class="icon">
				<i class="ion ion-ios-people"></i>
				</div>
				<a href="#" data-view="users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>{{ templatesCount }}</h3>
					<p>Templates</p>
				</div>
				<div class="icon">
				<i class="ion ion-ios-list"></i>
				</div>
				<a href="#" data-view="templates" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>{{ packagesCount }}</h3>
					<p>Packages</p>
				</div>
				<div class="icon">
					<i class="ion ion-cube"></i>
				</div>
				<a href="#" data-view="packages" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-teal">
				<div class="inner">
					<h3>{{ meteorSettingsCount }}<!-- sup style="font-size: 20px">%</sup --></h3>
					<p>Meteor Settings</p>
				</div>
				<div class="icon">
					<i class="ion ion-levels"></i>
				</div>
				<a href="#" data-view="meteorSettings" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div><!-- ./col -->
	</div>
</template>
