<template name="mainSidebar">
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel (optional) -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="../assets/icons/icon128.png" class="img-circle" alt="Meteor" />
				</div>

				<div class="pull-left info">
					<p id="release">{{#if release }}{{ release }}{{else}}METEOR@_._._._{{/if}}</p>
					<!-- Status -->
					<a id="status" href="#"><i class="fa fa-circle text-{{ statusLight }}"></i> <span>{{ status }}</span></a>
				</div>
			</div>

			<!-- search form (Optional) -->
			<!-- form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..." />
					<span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form -->
			<!-- /.search form -->

			<!-- Sidebar Menu -->
			{{> sidebarMenu }}
		</section>
		<!-- /.sidebar -->
	</aside>
</template>
