<template name="mainHeader">
	<header class="main-header">
		<!-- Logo -->
		<a href="http://devtools.meteor.com" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>M</b>DT</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>Meteor</b> DevTools</span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">

				<ul class="nav navbar-nav">
					<!-- Notifications Menu -->
					{{> notificationsMenu}}

					<!-- User Account Menu -->
					{{> userAccountMenu}}

					<!-- Control Sidebar Toggle Button -->
					<li>
						<a href="#" data-toggle="control-sidebar"><i class="fa fa-ellipsis-v"></i></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</template>
