<template name="meteorEnvironment">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Meteor Environment</h3>
			<div class="box-tools pull-right">
				<!-- button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button -->
				<!-- button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button -->
			</div>
		</div>
		<div class="box-body">
			<!-- JSONEditor for session variables -->
			<div id="meteorEnvironmentEditor">
			</div><!-- /.meteorEnvironmentEditor -->
		</div><!-- /.box-body -->
		<div class="box-footer">
			<strong>Note:</strong> These values are read-only.
		</div><!-- /.box-footer-->
	</div><!-- /.box -->
</template>
