<template name="sidebarMenu">
	<!-- Sidebar Menu -->
	<ul class="sidebar-menu">
		<li class="header">Client</li>
		<!-- Optionally, you can add icons to the links -->
		<li class="{{#if isDashboardViewActive }}active{{/if}}"><a href="#" data-view="dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
		<li class="{{#if isSessionViewActive }}active{{/if}}"><a href="#" data-view="session"><i class="fa fa-gears"></i> <span>Session variables</span></a></li>
		<li class="{{#if isUsersViewActive }}active{{/if}}"><a href="#" data-view="users"><i class="fa fa-users"></i> <span>Users</span></a></li>
		<li class="treeview">
			<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li><a href="#">Link in level 2</a></li>
				<li><a href="#">Link in level 2</a></li>
			</ul>
		</li>
	</ul><!-- /.sidebar-menu -->
</template>
