<template name="userAccountMenu">
	<li class="dropdown user user-menu">
		<!-- Menu Toggle Button -->
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-user{{#if userName }}{{else}}-times{{/if}}"></i><span class="userName hidden-xs">&nbsp;{{#if userName }}{{ userName }}{{else}}{{ userStatus }}{{/if}}</span>
		</a>
	{{#if user }}
		<ul class="dropdown-menu">
			<!-- Menu Footer-->
			<li class="user-body visible-xs">
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="#"><span class="userName">{{#if userName }}{{ userName }}{{else}}{{ userStatus }}{{/if}}</span></a>
					</div>
				</div>
			</li>
			<li class="user-footer">
				<!-- div class="pull-right" -->
					<a href="#" id="signout" class="btn btn-default btn-flat col-xs-12">Sign out</a>
				<!-- /div -->
			</li>
		</ul>
	{{/if}}
	</li>
</template>
